footer {
    width: 100%;

    .footer-img-wrap {
        display: grid;
        grid-template: 1fr / repeat(4, 1fr);

        .footer-img-mobile {
            display: none;
        }

        .footer-img-desktop {
            width: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .footer-txt-wrap {
        width: 100%;
        text-align: center;
        background: $darkcyan-footer;
        padding: 3rem;

        .footer-nav {
            padding: 1.5rem;

            .footer-menu {
                display: flex;
                justify-content: center;

                .footer-menu-items {
                    margin: 0 1.5rem;
                    list-style-type: none;
                    width: 70px;

                    a {
                        text-decoration: none;
                        color: $darkcyan;
                        font-family: $barlow;
                    }
                }
            }
        }

        .social-networks-wrap {
            display: flex;
            justify-content: center;
            padding: 1.5rem;

            .social-network-img {
                margin: 0 1rem;

            }
        }
    }


}