footer {
    width: 100%;

    .footer-img-wrap {
        display: grid;
        grid-template: 1fr / repeat(4, 1fr);

        .footer-img-mobile {
            display: none;
        }

        .footer-img-desktop {
            width: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .footer-txt-wrap {
        width: 100%;
        text-align: center;
        background: $darkcyan-footer;
        padding: 3rem;

        .footer-nav {
            padding: 1.5rem;

            .footer-menu {
                display: flex;
                justify-content: center;

                .footer-menu-items {
                    margin: 0 1.5rem;
                    list-style-type: none;
                    width: 70px;

                    a {
                        text-decoration: none;
                        color: $darkcyan;
                        font-family: $barlow;
                    }
                }

                .footer-menu-items:hover a {
                    color: $white;
                }

            }
        }

        .social-networks-wrap {
            display: flex;
            justify-content: center;
            padding: 1.5rem;

            .social-network-img {
                margin: 0 1rem;
                cursor: pointer;
            }

            .social-network-img:hover img {
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(167deg) brightness(104%) contrast(103%);
            }
        }
    }

    .attribution {
        bottom: 10px;
        color: $darkcyan;
        padding: 1rem;
        font-size: 12px;
        text-align: center;

        a {
            text-decoration: none;
            color: $verydarkdesblue;
        }

    }
}

// mobile version

@media screen and (max-width: 715px) {
    footer {
        .footer-img-wrap {
            display: grid;
            grid-template: repeat(2, 1fr) / repeat(2, 1fr);

            .footer-img-desktop {
                display: none;
            }

            .footer-img-mobile {
                display: block;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
