// Primary colors
$softred: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$darkcyan: hsl(167, 40%, 24%);
$darkblue: hsl(198, 62%, 26%);
$darkcyan-footer: hsl(168, 34%, 41%);

// Neutral colors
$verydarkdesblue: hsl(212, 27%, 19%);
$verydarkgrayblue: hsl(213, 9%, 39%);
$darkgrayblue: hsl(232, 10%, 55%);
$grayblue: hsl(210, 4%, 67%);
$white: #ffffff;
$translucide: hsl(0,0%,100%, 20%);

// Font
$barlow: 'Barlow';
$fraunces: 'Fraunces';
